# SVM

In [23]:
# Importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.svm import  SVC
import numpy as np
from sklearn.metrics import accuracy_score

In [24]:
# Accessing the dataset
url = 'https://raw.githubusercontent.com/alyshapm/coral-reef-bleaching/main/dataset/NOAA_Reef_Check__Bleaching_Data.csv'
df = pd.read_csv(url)
df.head()

,Bleaching,Ocean,Year,Depth,Storms,HumanImpact,Siltation,Dynamite,Poison,Sewage,Industrial,Commercial
0,No,Atlantic,2005,4.0,yes,high,often,none,none,high,none,none
1,No,Red Sea,2004,6.0,no,high,occasionally,none,none,low,none,none
2,No,Pacific,1998,3.0,no,low,never,none,none,none,low,none
3,No,Pacific,1998,10.0,no,low,never,none,none,none,low,none
4,No,Atlantic,1997,10.0,no,high,never,none,none,high,moderate,none

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   object
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   object
 5   HumanImpact  9111 non-null   object
 6   Siltation    9111 non-null   object
 7   Dynamite     9111 non-null   object
 8   Poison       9111 non-null   object
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 854.3+ KB

In [26]:
# Replacing object in Bleaching to int
df['Bleaching'] = df['Bleaching'].str.replace('No','0')
df['Bleaching'] = df['Bleaching'].str.replace('Yes','1')
df['Bleaching'] = df['Bleaching'].astype('int') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   object
 5   HumanImpact  9111 non-null   object
 6   Siltation    9111 non-null   object
 7   Dynamite     9111 non-null   object
 8   Poison       9111 non-null   object
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 854.3+ KB

In [27]:
df

,Bleaching,Ocean,Year,Depth,Storms,HumanImpact,Siltation,Dynamite,Poison,Sewage,Industrial,Commercial
0,0,Atlantic,2005,4.0,yes,high,often,none,none,high,none,none
1,0,Red Sea,2004,6.0,no,high,occasionally,none,none,low,none,none
2,0,Pacific,1998,3.0,no,low,never,none,none,none,low,none
3,0,Pacific,1998,10.0,no,low,never,none,none,none,low,none
4,0,Atlantic,1997,10.0,no,high,never,none,none,high,moderate,none
...,...,...,...,...,...,...,...,...,...,...,...,...
9106,0,Pacific,2016,4.0,no,none,never,none,none,none,none,none
9107,0,Pacific,2003,4.0,no,moderate,never,none,none,none,none,none
9108,0,Red Sea,2001,10.0,no,moderate,never,none,none,low,none,none
9109,0,Red Sea,2004,6.0,no,high,often,none,none,moderate,none,none
9110,0,Atlantic,2006,2.0,yes,none,never,none,none,none,none,none

In [28]:
# Replacing object in Storms to int
df['Storms'] = df['Storms'].str.replace('no','0')
df['Storms'] = df['Storms'].str.replace('yes','1')
df['Storms'] = df['Storms'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   object
 6   Siltation    9111 non-null   object
 7   Dynamite     9111 non-null   object
 8   Poison       9111 non-null   object
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 854.3+ KB

In [29]:
# Replacing object in HumanImpact to int
df['HumanImpact'] = df['HumanImpact'].str.replace('high','3')
df['HumanImpact'] = df['HumanImpact'].str.replace('moderate','2')
df['HumanImpact'] = df['HumanImpact'].str.replace('low','1')
df['HumanImpact'] = df['HumanImpact'].str.replace('none','0')
df['HumanImpact'] = df['HumanImpact'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   object
 7   Dynamite     9111 non-null   object
 8   Poison       9111 non-null   object
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 854.3+ KB

In [33]:
# Replacing object in Siltation to int
df['Siltation'] = df['Siltation'].str.replace('always','3')
df['Siltation'] = df['Siltation'].str.replace('often','2')
df['Siltation'] = df['Siltation'].str.replace('occasionally','1')
df['Siltation'] = df['Siltation'].str.replace('never','0')
df['Siltation'] = df['Siltation'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   int64
 7   Dynamite     9111 non-null   object
 8   Poison       9111 non-null   object
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(5), object(6)
memory usage: 854.3+ KB

In [38]:
# Replacing object in Dynamite to int
df['Dynamite'] = df['Dynamite'].str.replace('high','3')
df['Dynamite'] = df['Dynamite'].str.replace('moderate','2')
df['Dynamite'] = df['Dynamite'].str.replace('low','1')
df['Dynamite'] = df['Dynamite'].str.replace('none','0')
df['Dynamite'] = df['Dynamite'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   int64
 7   Dynamite     9111 non-null   int64
 8   Poison       9111 non-null   object
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(6), object(5)
memory usage: 854.3+ KB

In [39]:
# Replacing object in Poison to int
df['Poison'] = df['Poison'].str.replace('high','3')
df['Poison'] = df['Poison'].str.replace('moderate','2')
df['Poison'] = df['Poison'].str.replace('low','1')
df['Poison'] = df['Poison'].str.replace('none','0')
df['Poison'] = df['Poison'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   int64
 7   Dynamite     9111 non-null   int64
 8   Poison       9111 non-null   int64
 9   Sewage       9111 non-null   object
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(7), object(4)
memory usage: 854.3+ KB

In [40]:
# Replacing object in Sewage to int
df['Sewage'] = df['Sewage'].str.replace('high','3')
df['Sewage'] = df['Sewage'].str.replace('moderate','2')
df['Sewage'] = df['Sewage'].str.replace('low','1')
df['Sewage'] = df['Sewage'].str.replace('none','0')
df['Sewage'] = df['Sewage'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   int64
 7   Dynamite     9111 non-null   int64
 8   Poison       9111 non-null   int64
 9   Sewage       9111 non-null   int64
 10  Industrial   9111 non-null   object
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(8), object(3)
memory usage: 854.3+ KB

In [41]:
# Replacing object in Industrial to int
df['Industrial'] = df['Industrial'].str.replace('high','3')
df['Industrial'] = df['Industrial'].str.replace('moderate','2')
df['Industrial'] = df['Industrial'].str.replace('low','1')
df['Industrial'] = df['Industrial'].str.replace('none','0')
df['Industrial'] = df['Industrial'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   int64
 7   Dynamite     9111 non-null   int64
 8   Poison       9111 non-null   int64
 9   Sewage       9111 non-null   int64
 10  Industrial   9111 non-null   int64
 11  Commercial   9111 non-null   object
dtypes: float64(1), int64(9), object(2)
memory usage: 854.3+ KB

In [42]:
# Replacing object in Commercial to int
df['Commercial'] = df['Commercial'].str.replace('high','3')
df['Commercial'] = df['Commercial'].str.replace('moderate','2')
df['Commercial'] = df['Commercial'].str.replace('low','1')
df['Commercial'] = df['Commercial'].str.replace('none','0')
df['Commercial'] = df['Commercial'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9111 entries, 0 to 9110
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bleaching    9111 non-null   int64
 1   Ocean        9111 non-null   object
 2   Year         9111 non-null   int64
 3   Depth        9111 non-null   float64
 4   Storms       9111 non-null   int64
 5   HumanImpact  9111 non-null   int64
 6   Siltation    9111 non-null   int64
 7   Dynamite     9111 non-null   int64
 8   Poison       9111 non-null   int64
 9   Sewage       9111 non-null   int64
 10  Industrial   9111 non-null   int64
 11  Commercial   9111 non-null   int64
dtypes: float64(1), int64(10), object(1)
memory usage: 854.3+ KB

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
 
target = df["Bleaching"]
features = df.drop(["Bleaching","Ocean","Year", "Depth"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(features,target, test_size = 0.2, random_state = 10)
 
# Building a Support Vector Machine on train data
svc_model = SVC(C= .1, kernel='linear', gamma= 1)
svc_model.fit(X_train, y_train)
 
prediction = svc_model .predict(X_test)

# check the accuracy on the training set
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))

0.9710482985729967
0.9758639605046626